
span{
  color:white;
}

a{
  text-decoration: none;

}
a, a:link{
  color: inherit;
   text-decoration:none; 

}
a:link:hover{

}

h1{
  font-size: 3rem;
  color:rgb(1, 109, 109)
}

h2{
  font-size: 1.5rem;

}

h3{
  font-size: 2rem;

}

h4{
font-size: 1.2rem;
}

h5{
  font-size: 1.5rem;
}


li{

 margin: 0 auto;
 
;
}

ul{
}

img:hover{
  opacity: 0.3;
}





.postit {
  line-height: 1;
  text-align:center; 
  
  width: 30%;    
  margin: 25px;    
  padding-top:35px;
  position:relative;   
  border:1px solid #E8E8E8;  
  border-top:60px solid #f7f76ead;
  font-family:'Reenie Beanie';    
  font-size:2rem;  
  border-bottom-right-radius: 60px 5px;
  display:inline-block;    
   background: #ffff88; /* Old browsers */
background: -moz-linear-gradient(-45deg, #cece3d 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */


}
 
.postit li{

  list-style-type: none;
   
}

.hole {
  height: 20px;
  width: 20px;
  background-color: white;
  border:2px solid grey;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  box-shadow:1px 1px 1px #888;
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
   -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
        -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
       -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
           transform: matrix(-1, -0.1, 0, 1, 0, 0);
 }
 .first-hole {
  top: 30px;
 }
 .second-hole {
  top: 50%;
 }
 .third-hole {
  bottom: 30px;
 }


/* entire container, keeps perspective */
.email-flip-cont {
  perspective: 1000px;
  

}
	/* flip the pane when hovered */
	.email-flip-cont:hover .email-flipper, .email-flip-cont.hover .email-flipper {
    transform: rotateY(180deg);
    border:2px solid red;
    width: 320px;
    height: 480px;
    border-radius:5px;
   
	}

.email-flip-cont, .email-front, .email-back {
	width: 320px;
  height: 480px;
  border:3px solid black;
  border-radius:5px;
  
}

/* flip speed goes here */
.email-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.email-front, .email-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.email-front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
  

}

.email-front-text{
  color: blue;
  text-align: center;
 display:flex;
 font-size: 2rem;
 position: absolute;
 width:100%;
 justify-content: center;
 align-content: center;
margin-top:65%;
}

/* back, initially hidden pane */
.email-back {
 
  transform: rotateY(180deg);

  background-image: url('https://bfa.github.io/solitaire-js/img/card_back_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}


/* LINKEDIN ------- entire container, keeps perspective */
.linked-flip-cont {
  perspective: 1000px;
  width: 100%;


}
	/* flip the pane when hovered */
	.linked-flip-cont:hover .linked-flipper, .linked-flip-cont.hover .linked-flipper {
    transform: rotateY(180deg);
	}

.linked-flip-cont, .linked-front, .linked-back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.linked-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.linked-front, .linked-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.linked-front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
 
}

.linked-front-text{
  color: blue;
  text-align: center;
 display:flex;
 font-size: 2rem;
 position: absolute;
 width:100%;
 justify-content: center;
 align-content: center;
margin-top:65%;
}

/* back, initially hidden pane */
.linked-back {
  transform: rotateY(180deg);
  background-image: url('https://bfa.github.io/solitaire-js/img/card_back_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}



/* GH ------- entire container, keeps perspective */
.gh-flip-cont {
  perspective: 1000px;
  width: 100%;


}
	/* flip the pane when hovered */
	.gh-flip-cont:hover .gh-flipper, .gh-flip-cont.hover .gh-flipper {
    transform: rotateY(180deg);
	}

.gh-flip-cont, .gh-front, .gh-back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.gh-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.gh-front, .gh-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.gh-front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);

}
.gh-front-text{
  color: blue;
  text-align: center;
 display:flex;
 font-size: 2rem;
 position: absolute;
 width:100%;
 justify-content: center;
 align-content: center;
margin-top:65%;
}

/* back, initially hidden pane */
.gh-back {
  transform: rotateY(180deg);
  background-image: url('https://bfa.github.io/solitaire-js/img/card_back_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
 
}

/* TWITTER ------- entire container, keeps perspective */
.twitter-flip-cont {
  perspective: 1000px;
 
  width: 100%;


}
	/* flip the pane when hovered */
	.twitter-flip-cont:hover .twitter-flipper, .twitter-flip-cont.hover .twitter-flipper {
    transform: rotateY(180deg);
   
	}

.twitter-flip-cont, .twitter-front, .twitter-back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.twitter-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.twitter-front, .twitter-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.twitter-front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
  background-image: url('https://bfa.github.io/solitaire-js/img/card_face_bg.png');
  content: '♥';
  color:#cc0000;
   border-radius: 5px;
   content: '\02665';


}

.twitter-front-text{
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
 display:flex;
 font-size: 2rem;
 position: absolute;
 width:100%;
 justify-content: center;
 align-content: center;
 
 



}

/* back, initially hidden pane */
.twitter-back {
  transform: rotateY(180deg);
  background-image: url('https://bfa.github.io/solitaire-js/img/card_back_bg.png');
  background-repeat: no-repeat;
  background-size: contain;

}

.empty-card{
  border:2px solid red;
  width: 320px;
  height: 480px;
  background-image: url('https://bfa.github.io/solitaire-js/img/card_back_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}