
span{
  color:white;
}

a{
  text-decoration: none;

}
a, a:link{
  color: inherit;
   text-decoration:none; 

}

h1{
  font-size: 3rem;
  color:rgb(1, 109, 109)
}

h2{
  font-size: 1.5rem;

}

h3{
  font-size: 2rem;

}

h4{
font-size: 1.2rem;
}